/* RESET */
img {
    max-width: 100%;
}
/* GENERAL */
.center {
    text-align: center;
}
.pb20 {
    padding-bottom: 20px;
}

/* HEADER */
header {
    background-color: #2C3E50;
    height: 100px;
    color: white;
}
.my_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    padding: 10px;
}
.header-menu {
    display: none;
}
@media screen and (min-width:575px) {
    .hamburger {
        display: none;
    }
    .header-menu {
        display: flex;
    }
}
/* END HEADER */
/* START MAIN */

/* JUMBOTRON SECTION */
.jumbotron {
    background-color: #1ABC9C;
    color: white;
}
.my_container img {
    width: 250px;
}
.my_container * {
    padding-bottom: 10px;
}