/* HEADER */
header {
    background-color: #2C3E50;
    height: 100px;
    color: white;
}
.my_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    padding: 10px;
}
.header-menu {
    display: none;
}
@media screen and (min-width:575px) {
    .hamburger {
        display: none;
    }
    .header-menu {
        display: flex;
    }
}
/* END HEADER */